<!DOCTYPE html>
<html>
<head>
  <title>Tcramer</title>
  <%= stylesheet_link_tag    "tcramer/application", media: "all" %>
  <%= javascript_include_tag "tcramer/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
